html {
    height: 100%;
    width: 100%;
}

body{
    background: #FFF;
    font-family: 'Oswald';
    font-weight: 300;
}

#group {
    text-align: center;
    font-size: 20px;
}

#header{
    text-align: center;
    background: #333;
    color: white;
    font-size: 30px;
    display: flex;
}


#textheader{
    margin: auto;
    display: flex;
    align-items: center;
}

.active {
    margin-bottom: auto;
}

.inner_section {
  color: white;
  margin: 10px;
  padding: 20px;
}

.frame {
  position: relative;
  width: 50%;
}

.names: hover {
    opacity: 1;
}

.frame: hover .names {
    opacity: 1;
}

.pictures {
  display: block;
  width: 100%;
  height: 220px;
  border-radius: 100%;
}

.topbar {
    background-color: #FFF;
    overflow: hidden;
}

.topbar a {
    float: left;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}

.dropdown .dropbtn {
  font-size: 16px;
  outline: none;
  background-color: white;
  color: black;
  padding: 14px 16px;
  border: none;
  margin: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: grey;
  padding: 8px 12px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;

}

.dropdown:hover .dropdown-content {
    display: block;

}
.dropdown:hover .dropbtn {
    background-color: #333;
    color: white;
}

.container
{
  width: 1050px;
  margin: 110px auto 158px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .box
{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  box-sizing: border-box;;
  display: inline-block;
}

.container .box .imgBox
{
  position: relative;
  overflow: hidden;
  text-align: center;
}
.container .box .imgBox img
{
  max-width: 100%;
  transition: transform 2s;
}

.container .box:hover .imgBox img
{
  transform: scale(1.2);
}

.container .box .details
{
  align-self: center;
  position: absolute;
  top: 200px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,0.6);
  transform: scaleY(0);
  transition: transform .5s;
  color: white;

}
.container .box:hover .details
{
  transform: scaleY(1);
}


.container .box .details .content
{
  position: absolute;
  top: 0%;
  transform: translateY(-50);
  text-align: center;
  padding-left: 20px;
  color: #fff;
}

.container .box .details .content p
{
  margin: 10px 0 0;
  padding: 0;
}

.centered{
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 85px;
  width: 100%;
  background-color: #333;
  align: center;
  line-height: 0.5;
}

.inform {
    padding-right: 1px;
    align-items: center;
    justify-content: right;
    line-height: 0.5;
    font-size: 12px;
    color: rgb(128,128,128);
    text-align: right;
    vertical-align: middle;
}
