body{
    background: #d7daef;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;   
}

#header{
    text-align: center;
    background: #f74f5a;
    color: white;
    font-size: 30px;
}

.inner_section {
  color: white;
  margin: 10px;
  padding: 20px;
}

.frame {
  position: relative;
  width: 50%;
}

.names {

}

.frame: hover .names {
    opacity: 1;
}
.pictures {
  display: block;
  width: 100%;
  height: auto;
}