
.info-bar {
    padding-top: 1px;
}

.down-bar {
    padding-top: 1px;
}

.middle-section{
    margin-top: 3px;
    display: flex;
    align-items: center;
}

.music-icon{
  margin-left: 0;
  padding-left: 12%;
  padding-top: -10px;
}
.name{
  padding-top: -20px;
  padding-left: 10px;
}
.theplayer{
  padding-left: 5px;
}
.bar{
  padding-top: 10;
}
#musi{
  height: 10%;
  width: 20%;
}
#player{
    padding: 25px;
    color:#333;
}
#songTitle{
    width:300px;
    color: white;
    font-family: monospace;
    font-size: 18px;
    position: absolute;
    left: 20%;
    transform: translate(-50%,-50%);
}
.buttons{
    padding-bottom: -30px;
    height: 150px;
    width: 100%;
    margin-top: 60px;
    position:relative;
    top:20%;
    left: 20%;
    transform: translate(-50%,-50%);
}
.next,.pre{
    width: 50px;
    height: 50px;
    border: 0;
    background-color:grey;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.next{
    width: 30px;
    height: 30px;
    left: 70%;
}
.pre{
    width: 30px;
    height: 30px;
    left: 30%;
}
.play img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#seek-bar{
    width: 250px;
    height: 5px;
    background-color:gray;
    display: flex;
    border-radius: 50px;
    margin-left: 35px;
    cursor: pointer;
}
#fill{
    height: 5px;
    background-color:gray;
    border-radius: 20px;
}
#handle{
    width: 8px;
    height: 8px;
    background-color:white;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}

#share{
  width: 20px;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 40px;
      -webkit-appearance: none;
      background-color: black;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: gray;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: gray;
      box-shadow: -80px 0 0 80px #43e5f7;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: gray;
}
input[type="range"]::-moz-range-track {
  background-color: black;
}
