
.info-bar {
    padding-top: 1px;
}

.down-bar {
    padding-top: 1px;
}

.middle-section{
    margin-top: 3px;
    display: flex;
    align-items: center;
}

.music-icon{
  margin-left: 0;
  padding-left: 8%;
  padding-top: -10px;
}
.name{
  padding-top: -20px;
  padding-left: 10px;
}
.theplayer{
  padding-left: 5px;
}
.bar{
  padding-top: 10;
}
#musi{
  height: 60px;
  width: 70px;
}
#player{
    padding: 25px;
    color:#333;
}
#songTitle{
    width:200px;
    color: white;
    font-family: monospace;
    font-size: 18px;
    position: absolute;
    left: 15%;
    transform: translate(-50%,-50%);
}
.buttons{
    padding-bottom: -30px;
    height: 150px;
    width: 100%;
    margin-top: 60px;
    position:relative;
    top:20%;
    left: 20%;
    transform: translate(-50%,-50%);
}

#imgvol{
  width: 23px;
  height: 23px;
}
.next,.pre{
    width: 50px;
    height: 50px;
    border: 0;
    background-color:grey;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.next{
    width: 30px;
    height: 30px;
    left: 70%;
}
.pre{
    width: 30px;
    height: 30px;
    left: 30%;
}
.play img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#seek-bar{
    width: 250px;
    height: 5px;
    background-color:gray;
    display: flex;
    border-radius: 50px;
    margin-left: 35px;
    cursor: pointer;
}
#fill{
    height: 5px;
    background-color:gray;
    border-radius: 20px;
}
#handle{
    width: 8px;
    height: 8px;
    background-color:white;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}

.sharepop{
  width: 20px;
  background-color: #555;
}



/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:1) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background: none;
        transform: rotate(-90deg);
      margin-right: -17px;
      margin-top: 17px;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: gray;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px #43e5f7;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: gray;
}
input[type="range"]::-moz-range-track {
  background-color: gray;
}



#share{
  width: 20px;
}

.share {
  position: relative;
  cursor: pointer;
  z-index: 4;
}

/* The actual popup (appears on top) */
.share .sharetext {
  visibility: hidden;
  width: 318px;
  height: 40px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 4;
  bottom: -80%;
  left: 50%;
  margin-left: -66px;
  font-size: 13px;

}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.share .showShare {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}


.suresharescc {
  position: relative;
  cursor: pointer;
  z-index: 4;
}

/* The actual popup (appears on top) */
.suresharescc .suresharetextscc {
  visibility: hidden;
  width: 150px;
  height: 30px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 4;
  bottom: -90%;
  left: 50%;
  margin-left: -70px;
  font-size: 13px;

}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.suresharescc .sureshowSharescc {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.suresharecld {
  position: relative;
  cursor: pointer;
  z-index: 4;
}

/* The actual popup (appears on top) */
.suresharecld .suresharetextcld {
  visibility: hidden;
  width: 150px;
  height: 30px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 4;
  bottom: -90%;
  left: 50%;
  margin-left: -70px;
  font-size: 13px;

}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.suresharecld .sureshowSharecld {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.sureshare {
  position: relative;
  cursor: pointer;
  z-index: 4;
}

/* The actual popup (appears on top) */
.sureshare .suresharetext {
  visibility: hidden;
  width: 150px;
  height: 50px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 4;
  bottom: -50%;
  left: 50%;
  margin-left: -70px;
  font-size: 13px;

}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.sureshare .sureshowShare {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.screen .swiper-container {
    width: 100%;
    margin-top: 0px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.screen .list-container {
    width: 100%;
    margin-top: 0px;
}

 .list-slide {
   font-size: 13px;
   background: #555;
   /* Center slide text vertically */
   display: flex;
   justify-content: left;
   align-items: left;
   padding-left: 20px;
   padding-bottom: 20px;
}

.list {
  position: relative;
  cursor: pointer;
  z-index: 5;
}

/* The actual popup (appears on top) */
.list .listtext {
  visibility: hidden;
  width: 200px;
  height: 177px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 4;
  top: -218%;
  left: 50%;
  margin-left: -28px;
  font-size: 13px;

}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.list .showList {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}


div.ex3 {
  width: 200px;
  height: 177px;
  overflow: auto;
}

#cross {
  margin-top: 70px;
  margin-bottom: 2px;
  margin-right: -85px;
}
