body {
    background: #fff;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    color:#000;
    margin: 0;
    padding: 0;
}


.screen .swiper-container {
    width: 100%;
    margin-top: 30px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.screen {
    width: 320px;
    height: 200px;
    color: #fff;
    background-color: #000;
    background-size: 380%;
    border-radius: 10px;
    border-style: solid;
}

.time {
    text-align: center;
    font-size: 16px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin-top: -20px;
    margin-bottom: -10px;
    color: #fff;
}

.top-text {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #fff;
}

.finger-container {
    width: 95px;
    height: 95px;
    margin-left: 120px;
    margin-top: -10px;
}

#trans {
    width: 90px;
    height: 90px;

}

.info-bar {
    padding-top: 1px;
}

.middle-section{
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.translator-icon{
    margin-left: 0;
    padding-left: 12%;
}

#trans{
    height: 60%;
    width: 60%;
}

.location{
    display: flex;
    align-items: center;
    padding-left: 10%
}

#myloco{
    height: 100%;
    width: 100%;
}

#nameOfCountry{
    font-size: 1.5em;
}
.left-location{
    padding-right: .3em;
}

.right-location{
    font-size: 12px;
}

.voicebutton{
display: flex;
align-items: center;
justify-content: center;
}

#voicebutton{
    width: 13%;
    height: 13%;
}

.menus{
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu1, .menu2{
    width: 120px;
    height: 25px;
    border: 1px solid #888888;
    background-color:  #888888;
    margin-left: 15px;
    margin-right:15px
}

.menu3{
    width:
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 190px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-left: -195px;
  font-size: 13px;

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: 95px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.popupM {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popupM .popuptextM {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  font-size: 12px;
}

/* Popup arrow */
.popupM .popuptextM::after {
  content: "";
  position: absolute;
  top: -20%;
  left: 50%;
  margin-left: -46px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupM .showM {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
